* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin: 0px;
  color: #fff;
}

nav {
  padding: 16px 0px;
  overflow: auto;
  background-color: black;
  background: linear-gradient(to bottom, #3c3c3c 0%,#131313 50%);
  color: #fff;

  h1 {
    float: left;
  }

  .socialicons {
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 2px 0px;

    li {
      float: right;
      font-size: 30.4px;
      padding: 0px 10px;
    }
  }
}

header {
  text-align: center;
  font-size: 2.5em;
  color: #fff;
  background: url('https://placeimg.com/1024/180/tech/grayscale');
  background-size: cover;
  margin: 0px;
  padding: 2.5em 0em;

  h2 {
    margin: 0px;
  }
}

.work {
  overflow: auto;
  padding: 72px 0px;

  .container {
    position: relative;
    left: 80px;
  }

  h1 {
    position: absolute;
    left: -80px;
    top: 20px;
  }

  &.color1 {
    background: #6ee1a2;
  }

  &.color2 {
    background: #eba788;
  }

  .thumbnail {
    margin: 30px;
    height: 150px;
    width: 243px;
    float: left;
  }
}

footer {
  background: black;
  color: white;
  overflow: auto;
  padding: 66px 0px;

  .col-8 {
    padding: 30px 0px 0px 10px;
  }

  h1 {
    float: left;
    margin: 0px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2em;
    font-weight: lighter;
  }

  img { 
    border-radius: 50%;
  }

  ul {
    list-style-type: none;
    float: left;
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
    font-family: 'Hammersmith One', sans-serif;

    li {
      padding: 2px 0px;
    }
  }

  .socialicons {
    float: right;
    margin: 0px;
    list-style-type: none;
    padding: 2px 0px;

    li {
      float: right;
      font-size: 30.4px;
      padding: 0px 10px;
    }
  }
}