<!doctype html>
<html>
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
    <meta charset="utf8">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <div class="container">
        <h1>DAN</h1>
        <ul class="socialicons">
          <li><i class="fab fa-github-alt"></i></li>
          <li><i class="far fa-envelope"></i></li>
          <li><i class="fab fa-linkedin-in"></i></li>
        </ul>
      </div>
    </nav>
    <header>
      <div class="container">
        <h2>"Yeah... Lemme get a fuckin' uhh... A number two, a number three, number fifteen, large fries, a chocolate milkshake, a lemon pie, and a large diet coke."</h2>
      </div>
    </header>
    <section class="work color1">
      <div class="container">
        <h1>ART</h1>
        <div class="row">
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
        </div>
        <div class="row">
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
        </div>
      </div>
    </section>
    <section class="work color2">
      <div class="container">
        <h1>WEB</h1>
        <div class="row">
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
        </div>
        <div class="row">
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
        </div>
      </div>
    </section>
    <section class="work color1">
      <div class="container">
        <h1>LOGO</h1>
          <div class="row">
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
        </div>
        <div class="row">
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
        </div>
      </div>
    </section>
    <section class="work color2">
      <div class="container">
        <h1>PRINT</h1>
        <div class="row">
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
        </div>
        <div class="row">
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
          <div class="thumbnail" style="background-image:url('http://placeimg.com/300/200')"></div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="http://placeimg.com/288/288">
          </div>
          <div class="col-8">
            <div class="row">
              <h1>DAN NAGORNEAC</h1>
              <ul class="socialicons">
                <li><i class="fab fa-github-alt"></i></li>
                <li><i class="far fa-envelope"></i></li>
                <li><i class="fab fa-linkedin-in"></i></li>
              </ul>
            </div>
            <div class="row">
              <ul>
                <li>dannagorneac@gmail.com</li>
                <li>(205) 470-4265</li>
                <li>lnkd.in/dan</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>